.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: top;
}
#dice-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice,
.saved-dice {
  width: 100px;
  height: 100px;
  background-color: rgb(200, 224, 216);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.saved {
  display: flex;
  margin: 20px;
  width: 700px;
  height: 150px;
  background-color: rgba(189, 181, 181, 0.726);
}
@keyframes roll-dice {
  10%,
  90% {
    transform: rotate(10deg) translate(2px);
  }

  20%,
  80% {
    transform: rotate(-10deg) translate(-2px);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg) translate(2px);
  }

  40%,
  60% {
    transform: rotate(-10deg) translate(-2px);
  }
}

table,
tr,
th {
  border: 2px solid black;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
table {
  margin: 20px;
}
tr,
th {
  margin: 10px;
  padding: 10px;
  align-items: center;
  text-align: center;
}
